* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

input, button {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #333;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 48px;
  color: rgb(50,213,196);
  padding: 20px 0;
}


.player-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.player-select-container form{
  display: flex;
  padding-top: 50px;
}

.player-select-container form label{
  margin-right: 10px;
}

.player-select-container form input{
  margin-right: 20px;
}