@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Bungee+Shade&family=Cinzel:wght@400;500;600&family=Patua+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  background: rgb(245, 245, 245);
}

input, button {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.btns{
  padding: 10px 20px;
  color: rgb(50,213,196);
  background: #333;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: 'Baloo 2', cursive;
  box-shadow: 1px 1px 1px 1px rgba(151, 151, 151, 0.4);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #333;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 48px;
  font-family: 'Bungee Shade', cursive;
  color: rgb(50,213,196);
  padding: 20px 0 35px 0;
}


.player-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  border: 1px solid rgb(155, 155, 155);
  padding: 50px 10px;
  background: #333;
  box-shadow: 5px 5px 5px 5px rgba(179, 179, 179, 0.4);
  border-radius: 4px;
}

.player-select-container h2 {
  font-size: 32px;
  font-family: 'Bungee Shade', cursive;
  padding: 15px;
  color: #fff;
  border: .5px solid rgb(155, 155, 155);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(179, 179, 179, 0.4);
}

.player-select-container form{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;
  width: 80vw;
  justify-content: space-around;
}

.player-select-container form label{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: 'Baloo 2', cursive;
}

.player-select-container form input{
  padding: 10px;
  border: 2px solid rgb(156, 156, 156);
  border-radius: 4px;
}

.player-select-container button {
  margin-top: 60px;
  border: 1px solid #fff;
}

.player-select-container span {
  color: rgb(184, 72, 72);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Bungee Shade', cursive;

}