:root{
  --O-color: #83c2ff;
  --X-color:#ff9ebe;
  --E-color: rgb(50,213,196);
}

.jogador-da-vez {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.jogador-da-vez.O {
  color: var(--O-color);
}

.jogador-da-vez.X {
  color: var(--X-color);
}

.container {
  margin-top: 40px;
}

.game {
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 2px rgba(105, 105, 105, 0.4);;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 3px;
  padding: 2px;
}

.board-grid button {
  background: rgb(50,213,196);
  border-radius: 4px;
  font-size: 40px;
  font-weight: thin;
}

.board-grid button:hover {
  background: rgba(50,213,196, .6);
}

.btn.X {
  background: var(--X-color);
  cursor: not-allowed;
}

.btn.X:hover{
  background: var(--X-color);
}

.btn.O{
  background: var(--O-color);
  cursor: not-allowed;
}

.btn.O:hover{
  background: var(--O-color);
}

.btns-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}