.result-container {
  text-align: center;
  padding: 2px;
  border: solid 1px black;
  border-radius: 4px;
}

.result-container h2 {
  padding: 10px;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgb(160, 160, 160);
  color: #333;
}

.result-container h2.O {
  background: var(--O-color);
}

.result-container h2.X {
  background: var(--X-color);
}

.result-container h2.E {
  background: var(--E-color);
}