.jogador-da-vez {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Baloo 2', cursive;
  letter-spacing: 2px;

}

.jogador-da-vez.O {
  color: var(--O-color);
}

.jogador-da-vez.X {
  color: var(--X-color);
}