.reset-container {
  text-align: center;
}

.reset-container button {
  margin-top: 30px;
  padding: 10px;
  color: rgb(50,213,196);
  background: #333;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: 'Baloo 2', cursive;
}